 * {
     margin:0px auto;
}

html, body {
  text-align:center;
	margin:0;
  padding:0;
} 

div.login{
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	color: #333333;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  
  padding: 2em;
  border-width:2px;
	border-style:solid;
	border-color:rgb(100,150,255);
	border-top-left-radius:1em;
	border-bottom-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
}

.login h1 {
  color:blue;
  font-weight:bold;
  font-size:24px;
  font-align:center;
  padding:0.5em;
}

.login .form-row {
	padding: 0.5em;
}

.login .form-row label {
  display:block;
  float:left;
  text-align:right;
  width:4em;
  margin-right:1em;
}


div.dirdiv {
  display: block;
  width:300px;
  margin-top: 200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  
  padding: 1em;
  padding-top: 200px;
}



div.dirdiv img {
  margin: 2em;
  
}
