<!DOCTYPE html>
<html>
    <head>
        <title>Hack 'n Bash</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>

    <body>
        <div class="login">
            <h1>Hack 'n' Bash</h1> 
            
          <form id="login-form">
            <div class="form-row">
                <label for="host">Host:</label>
                <input type="text" id="host" placeholder="unix.andrew.cmu.edu" value="unix.andrew.cmu.edu" />
            </div>
            <div class="form-row">
               <label for="username">Username:</label>
                <input type="text" id="username" placeholder="acarnegie" />
            </div>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" id="password" />
            </div>
            <div id="login-error" class="hide">
                <p>Error logging in. Please try again.</p>
            </div>
            <input id="login-btn" type="submit" value="Login"></button>
          </form>
        </div>
        
        <canvas id="canvas" class="hide"></canvas>

        <div id="dirDiv" class="hide">
            <div><select id="nextDirs" multiple> </select></div>
            <input type="button" id="dirSelected" style= "font-weight:bold" value="Go!"/>
            <img border="0" src="/static/graphics/manila_walk.gif" alt="Manila Walk" />
        </div>
        <div id="catDiv" class="hide">
            <textarea id="catText" cols="80" disabled></textarea>
        </div>

        <div id="loader"></div>

        <script src="/static/js/jquery/jquery-2.1.0.min.js"></script>
        <script src="/static/js/createjs/createjs.min.js"></script>
        <script src="/static/js/createjs/easeljs.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/player.js"></script>
        <script src="/static/js/critter.js"></script>
        <script src="/static/js/door.js"></script>
        <script src="/static/js/collision.js"></script>
        <script src="/static/js/background.js"></script>
        <script src="/static/js/inventory.js"></script>
    </body>
</html>
