<!DOCTYPE html>
<html>
    <head>
        <title>Hack 'n Bash</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>

    <body>
		<div class="login">
      <p style="color:blue;font-weight:bold;font-size:24px;font-align:center;">Hack 'n' Bash</p> 
      <br/>
			<p >Username:<input type="text" id="username"></p>
      <br />
			<p>Password:<input type="password" id="password"></p>
      <br />
			<button id="submit">Submit</button>
		</div>
		
        <canvas id="canvas"></canvas>
        <div id="dirDiv" style="display:none;">
            <select id="nextDirs" style="width:150px;height:300px;margin:3em;font-weight:bold;" multiple> </select>
            <br />
            <input type="button" id="dirSelected" style= "font-weight:bold" value="Go!"/>
            <br />
            <br />
            <br />
            <img border="0" src="/static/graphics/manila_walk.gif" alt="Manila Walk" />
        </div>
        <div id="catDiv" style="width:60%; margin: 0 auto; display: none" >
            <textarea id="data" style="background: none; position: absolute; left: auto; top: 10px; 
                color: white; font-weight:bold" rows="40" cols="100"> </textarea>
            <input type="button" id="catRead" style= "font-weight:bold" value="Done"/>
        </div>
        
    

		<div id="loader"></div>

        <script src="/static/js/jquery/jquery-2.1.0.min.js"></script>
        <script src="/static/js/createjs/createjs.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/player.js"></script>
        <script src="/static/js/critter.js"></script>
        <script src="/static/js/door.js"></script>
        <script src="/static/js/collision.js"></script>
        <script src="/static/js/background.js"></script>
        <script src="/static/js/inventory.js"></script>
        <script src="http://code.createjs.com/easeljs-0.7.1.min.js"></script>
    </body>
</html>
