<!DOCTYPE html>
<html>
    <head>
        <title>Hack 'n Bash</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>

    <body>
        <canvas id="canvas"></canvas>
        <div id="dirDiv" style="width:80px; height:80px; display:none;">
             <select id="nextDirs"> </select>
             <input type="button" id="dirSelected" value="Go!"/>
        </div>

		<div id="loader"></div>
		
    <script src="/static/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="/static/js/createjs/createjs.min.js"></script>
    <script src="/static/js/app.js"></script>
		<script src="/static/js/player.js"></script>
		<script src="/static/js/door.js"></script>
		<script src="/static/js/background.js"></script>
    </body>
</html>
